<% unless users.nil? || users.empty? %>

<div class="people-you-might-know">
  <div class="add-people-header">
    <h6 class="header-title">
      People You Might Know
    </h6>
  </div>
  <% users.each do |user| %>
  <div class="row add-people-section">
    <div class="small-12 medium-6 columns about-people">
      <div class="about-people-avatar">
        <img class="avatar-image" src="https://i.imgur.com/UPVxPjb.jpg" alt="Kishore Kumar">
      </div>
      <div class="about-people-author">
        <p class="author-name">
          <%= link_to user.proper_name, user_path(user) %>
        </p>
        <p class="author-location">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <%= user.email %>
        </p>
        <p class="author-location">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <%= user.phone.nil? ? 'N/A' : (user.phone) %>
        </p> 
    </div>    
  </div>
  <div class="small-12 medium-6 columns add-friend">
    <div class="add-friend-action">
      <button class="button primary small">
        <i class="fa fa-user-plus" aria-hidden="true"></i>
        Add Friend
      </button>
      <button class="button secondary small">
        <i class="fa fa-user-times" aria-hidden="true"></i>
        Ignore
      </button>
    </div>
  </div>
</div>
<% end %>
<!-- <div class="view-more-people">
  <p class="view-more-text">
    <a href="#" class="view-more-link">View More..</a>
  </p>
</div> -->
</div>

<% end %>