
<div id='recent_purchases'>
<% if @purchases.empty? %>
  <h4>No purchases at this time.</h4>
<% else %>
  <h4>Recent Purchases</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="225">Item</th>
        <th width="150">Quantity</th>
        <th width="150">Date</th>
      </tr>
    </thead>
    <tbody>
    <%= render 'list_of_purchases' %>
    </tbody>
  </table>
<% end %>
<p>&nbsp;</p>
</div>