
<%# render :partial => 'general_home' %>
<% if logged_in? %>
<h3>Welcome back, <%= current_user.proper_name %></h3>

<p>Below is information on your projects and incomplete tasks for those projects:</p>
<% else %>


<%end%>


<% if logged_in? && (current_user.role == "admin" || current_user.role == "manager" || current_user.role == "shipper" )%>
<%= render :partial => 'reorder_list' %>

<%= render :partial => 'pending_orders' %>
<%end%>
