<div id="order_list">
	<% @active_orders.each do |order| %>
	<tr>
		<td><%= link_to School.find(order.school.id).name, order_path(order) %></td>
		<td><%= order.date.strftime('%m/%d/%y') %></td>
		<td><%= number_to_currency order.grand_total %></td>
	</tr>
	<% end %>
</div>


    <tr class="table-expand-row" data-open-details>
      <td>August 15</td>
      <td>2 items</td>
      <td class="text-right">$0.50</td>
      <td>in progress <span class="expand-icon"></span></td>
    </tr>

    <tr class="table-expand-row-content">
      <td colspan="8" class="table-expand-row-nested">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
      </td>
    </tr>

