
<% if @order_items.empty? %>
<h4>There are no Items in this Order</h4>
<% else %>
<h4>Ordered Items</h4>
<table class="table table-striped">
	<thead>
		<tr>
			<th width="225">Item</th>
			<th width="150">Quantity</th>
			<th width="150">Subtotal</th>
			<% if logged_in? && (current_user.role == "admin" || current_user.role == "manager" || current_user.role == "shipper") %>
			<th width="150">Mark as Shipped</th>

			<% end %>
		</tr>
	</thead>
	<tbody>
		<div id="order_items_list">
			<% @order_items.each do |item| %>
			<tr>
				<td><%= Item.where(id: item.item_id).first.name %></td>
				<td><%= item.quantity %></td>
				<td><%= number_to_currency(item.item.current_price*item.quantity) %></td>
				<% if logged_in? && (current_user.role == "admin" || current_user.role == "manager" || current_user.role == "shipper") %>
				<td>
					<%= link_to(image_tag("icons/check_green.gif", border: 0), complete_order_item_path(item.id), method: :patch) %>
					<%#= link_to(image_tag("icons/close.gif", border: 0), order_item_path(order_id), method: :delete, data: {confirm: "Are you sure you want to permanently delete this task"}) %>
				</td>
				<% end %>
			</tr>			
			<% end %>
		</div>
	</tbody>
</table>
<%end%>
