<% if @order_items.empty? %>
  <h4>You have not added anything to your cart</h4>
<% else %>
  <h4>Items</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="225">Item</th>
        <th width="150">Quantity</th>
        <!-- <th width="150">Date</th> -->
      </tr>
    </thead>
    <tbody>
    <div id="order_items_list">
  <% @order_items.each do |item| %>
  <tr>
    <td><%= item.item_id %></td>
    <td><%= item.quantity %></td>
    <!-- <td><%#= purchase.date.strftime('%m/%d/%y') %></td> -->
  </tr>
  <div link_to(class: "button radius", new_order_path(@order_items)> Checkout </div>
  <%= f.submit nil, :class => 'button radius' %>
  <% end %>
</div>
    </tbody>
  </table>
<% end %>
<p>&nbsp;</p>