
<br>
<% unless items.nil? || items.empty? %>
<div class="small-12 medium-12 large-12 columns ">
<center> <bold> <h1 id='title'><%= item_type.upcase %></h1> </bold></center>
</div>

<br>
<br>

<div class='row'>
<div class="small-12 medium-6 large-4 columns ">
</div>
</div>

<%items.each do |item| %>
<% unless item == items.last %>
<!-- <div class="small-6 medium-5 large-4 columns center-content"> -->
  <div class="small-12 medium-6 large-4 columns ">
<% else %>
  <div class="small-12 medium-6 large-4 columns center-content end">
<%end%>
<% @item = item %>
   <%= render :partial => "items/item_card", locals: {model_name: "item", object: @item}  %>
</div>

<% end %>
<% end %>