<% unless @similar_items.empty? %>

  <h3>Similar Items</h3>
  <% @similar_items.each do |item| %>
  <% unless item == @similar_items.last %>
 <div class="small-6 medium-4 large-3 columns ">
<% else %>
  <div class="small-6 medium-4 large-3 columns center-content end">
<%end%>
<% @item = item %>
   <%= render :partial => "items/item_card", locals: {model_name: "item", object: @item}  %>
</div>


  <% end %>

  <% end %>