.button{
  font-size: 0.7rem;
}

.pic{
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.pic:hover{
  border: 2px solid black;
  -webkit-transition: .10s;
      transition: .10s;
/*  -webkit-transition: top 0.3s ease-in-out;
            transition: top 0.3s ease-in-out;*/
/*  -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;*/
  /*box-shadow: 0 0 10px #ccc;*/
/*border: 20px black;*/
/*background-color: black;*/
}


.button-hover-addcart {
  border: 2px solid #767676;
  background: transparent;
  color: #767676;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 0.07rem;
  transition: all 0.2s ease-in-out;
  position: relative;
  padding: 0.5em;
}

.button-hover-addcart span {
  transition: all 0.2s ease-in-out;
}

.button-hover-addcart .fa {
  position: absolute;
  font-size: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #1779ba;
  right: -15px;
  transition: 0.4s right cubic-bezier(0.38, 0.6, 0.48, 1);
}

.button-hover-addcart:hover {
  border-color: #1779ba;
  background: transparent;
  transition: border-color 0.2s;
}

.button-hover-addcart:hover span {
  margin-right: 20px;
  color: #1779ba;
}

.button-hover-addcart:hover .fa {
  right: 12px;
}

.view-item{
    border: 2px solid #767676;
  background: transparent;
  color: #767676;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 0.07rem;
  /*transition: all 0.2s ease-in-out;*/
  position: relative;
  padding: 0.5em;

}

.view-item:hover {
  border-color: #1779ba;
  background: transparent;
  transition: border-color 0.2s;
}

.view-item:hover span {
  /*margin-right: 20px;*/
  color: #1779ba;
}

#show_item img{
  display: block;
  margin: 0px auto;
}

.center-content{
  display: block;
  margin: 0px auto;
/*  margin-left: 0px;
  margin-right: 0px;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*float: none !important;*/
}

/*.center-this{
  margin-left: 0px;
  margin-right: 0px;
}*/

.row{
  margin: 0px;
}

#title{
  letter-spacing: 1px;
}

#price-small{
      font-size: 0.9rem;
    font-weight: 400;
}

.resize-img{
  width:100%;
  height: 100%;
}